<div class="row">
	<div ng-hide="loading">
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Season</th>
					<th>Episode</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="show in shows">
					<td>{{ show.title }}</td>
					<td>{{ show.season }}</td>
					<td>{{ show.episode }}</td>
					<td>
						<a class="waves-effect waves-light" ng-click="watched(show.idEpisode)">
							<i class="material-icons">visibility</i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="loading">
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-blue">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>

			<div class="spinner-layer spinner-red">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle">

					</div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>

			<div class="spinner-layer spinner-yellow">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>

			<div class="spinner-layer spinner-green">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
</div>
